<div class="row">
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/knockout.png")" alt="Knockout" />
    <h2 class="conceptCaption">Knockout based</h2>
    <p>Extension of the popular JavaScript library Knockout.js</p>
  </div>
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/mvc3.png")" alt="Mvc3" />
    <h2 class="conceptCaption">ASP.NET MVC</h2>
    <p>Complete integration with ASP.NET MVC3/MVC4</p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/csvb.png")" alt="Expressions" />
    <h2 class="conceptCaption">C#/VB Expressions</h2>
    <p>
      Simple C#/VB.NET expressions defining logic of the client side behavior are automatically
      converted to JavaScript constructions
    </p>
  </div>
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/model.png")" alt="Model" />
    <h2 class="conceptCaption">Model on server</h2>
    <p>The model is described only once in C#/VB.NET and is stored on the server</p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/withoutjs.png")" alt="WithoutJavaScript" />
    <h2 class="conceptCaption">Without JavaScript code</h2>
    <p>
      Even the most complicated client-oriented application can be developed without
      a single line of JavaScript!
    </p>
  </div>
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/smalljs.png")" alt="SmallJavaScript" />
    <h2 class="conceptCaption">Small JavaScript library</h2>
    <p>Less JavaScript code (compressed version of Knockout takes about 40Kb)</p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/syntax.png")" alt="Syntax" />
    <h2 class="conceptCaption">Nice syntax</h2>
    <p>Short laconic syntax used to describe views – easy-to-write and easy-to-read</p>
  </div>
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/development.png")" alt="Simple development" />
    <h2 class="conceptCaption">Simple development</h2>
    <p>
      Website development is as easy as development of a common application – all logic
      of client-server interaction is hidden inside
    </p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/browsers.png")" alt="SupportsAllBrowsers" />
    <h2 class="conceptCaption">Supports all browsers</h2>
    <p>
      Support for all popular browsers (IE&nbsp;6+, Firefox&nbsp;2+, Opera&nbsp;10+,
      Chrome, Safari)
    </p>
  </div>
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/compatibility.png")" alt="Full compatibility" />
    <h2 class="conceptCaption">Full compatibility</h2>
    <p>Complete compatibility with any other JavaScript libraries (jQuery, Prototype, etc.)</p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/mvvm.png")" alt="MVVM" />
    <h2 class="conceptCaption">MVVM</h2>
    <p>Application is created with the help of Model-View-View Model (MVVM) pattern</p>
  </div>
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/intellisense.png")" alt="IntelliSense" />
    <h2 class="conceptCaption">IntelliSense</h2>
    <p>
      Data binding and element generation codes are written in pure C#/VB.NET with IntelliSense
      feature
    </p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/ajax.png")" alt="Ajax" />
    <h2 class="conceptCaption">Ajax</h2>
    <p>
      Logic of work with the model is described on the server and requests are sent to
      the server via ajax queries without page re-load
    </p>
  </div>
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/dependencies.png")" alt="AlmostNoDependencies" />
    <h2 class="conceptCaption">Almost no dependencies</h2>
    <p>
      Minimum dependencies: Knockout.js and jQuery (the last one is necessary only for
      specific functions)
    </p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <img class="conceptImg" src="@Url.Content("~/Images/Concepts/documentation.png")" alt="Detailed documentation" />
    <h2 class="conceptCaption">Detailed documentation</h2>
    <p>API docs, live examples</p>
  </div>
  <div class="span6">
  </div>
</div>


<style scoped="scoped">
  .conceptCaption {
    font-size: 170%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .conceptImg {
    max-width: 60px;
    max-height: 30px;
    float: left;
    margin: 7px 10px 0px 0px;
  }
</style>
